div.top_bar {
	font-size: 0.8em;
	padding: 0px;
	border-bottom: solid 2px #f00;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

div.div_bar {
	display: none;
	font-size: 0.8em; 
	color: #222; 
	background-color: #fff; 
	padding: 2px;
	padding-left: 10px;
	z-index: 5;
}

div.div_bar_warning {
	font-size: 1.2em; 
	color: #f00; 
	background-color: #fff; 
	text-align: center;
	padding: 3px;
	z-index: 5;
}

a.bookmarklet {
	text-decoration: none;
	font-weight: bold;
	color: #222;
	background-color: #fff;
	border: solid 1px #222;
	border-radius: 5px;
	padding: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
}
a.bookmarklet:hover {
	background-color: #f00;
	color: #fff;
}

a.theme {
	color: #222;
	font-weight: bold;
}
a.theme:hover {
	color: #000;
	text-decoration: underline;
}

table.page {
	max-width: 900px;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

body {
	padding: 0px;
	background-color: #fefefe;
	color: #222;
	font-family: Helvetica, Arial, Verdana; /*Consolas, Verdana, monospace;*/
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #00f;
}
a:visited { color: #606; }
a:hover   { color: #505; }

a.no_color {
	text-decoration: underline;
	color: #fff;
}
a.no_color:hover   { color: #ddd; }
a.no_color:visited { color: #ddd; }

a.title_red {
	text-decoration: none;
	color: #b00;
	text-shadow:  4px  0px 10px rgba(200, 0, 0, 0.3),
	              0px  4px 10px rgba(200, 0, 0, 0.3),
	             -4px  0px 10px rgba(200, 0, 0, 0.3),
	              0px -4px 10px rgba(200, 0, 0, 0.3);
}
.title_red:hover {
	color: #f00;
	text-shadow:  4px  0px 10px rgba(255, 0, 0, 0.3),
	              0px  4px 10px rgba(255, 0, 0, 0.3),
	             -4px  0px 10px rgba(255, 0, 0, 0.3),
	              0px -4px 10px rgba(255, 0, 0, 0.3);
}

span.title_red {
	font-size: 2.8em;
	font-weight: bold;
	font-family: Helvetica, Arial, Verdana;
	letter-spacing: -0.05em;
	padding: 0px;
}

a.title_white {
	text-decoration: none;
	color: #222;
}
a.title_white:hover {
	text-decoration: none;
}
span.bracket {
	font-size: 2.8em;
	font-weight: bold;
	font-family: Helvetica, Arial, Verdana;
	letter-spacing: -0.15em;
	position: relative;
	top: -4px;
}
span.title_white {
	font-size: 2.3em;
	letter-spacing: -0.05em;
	font-weight: bold;
	position: relative;
	top: -5px;
}

table {
	border-width:   0px;
        padding:        10px;
        border-spacing: 10px;
	border-style: outset;
}

table.invisible {
	border-width: 0px;
	padding: 0px;
	border-spacing: 0px;
}

table.search {
	padding: 0px;
	padding-left: 25px;
}

td {
	padding: 0px;
}

td.search_url {
	font-size: 1.5em;
	cursor: default;
	text-align: right;
	vertical-align: bottom;
	padding-bottom: 2px;
}

input.search_text {
	font-size: 1.2em;
	background-color: #fff;
	color: #222;
	cursor: default;
	border: solid 1px #222;
	border-radius: 5px;
	width: 100%;
	padding: 4px;
	letter-spacing: -0.05em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
}
input.search_text:focus {
	color: #222;
	background-color: #eee;
}
input.search_text:hover {
	color: #222;
	background-color: #eee;
}

input.search_button {
	font-size: 1.5em;
	font-weight: bold;
	background-color: #b00;
	color: #fff;
	border: solid 1px #222;
	border-radius: 5px;
}
input.search_button:hover {
	background-color: #f00;
}

td.search_status {
	padding-top:     15px;
	padding-bottom:  15px;
	padding-left:     0px;
	text-align:     right;
}

td.search_status_result {
	padding-top:    15px;
	padding-bottom:  0px;
	padding-left:   10px;
	padding-right:  10px;
	text-align:   center;
}

.search_count {
	color: #222;
	font-weight: bold;
	font-size: 1.5em;
}

.search_count_empty {
	color: #222;
	font-weight: bold;
	font-size: 1.5em;
}

.search_result_title {
	color: #222;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	border-width: 0px;
	border: none;
}

img.result_thumbnail {
	padding: 0px;
	padding-left: 5px;
	display: block;
}

td.result_arrow {
	display: block;
	font-size: 1.5em;
	padding: 0px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}

td.result_score {
	display: block;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center; 
}

span.result_score {
	padding: 0px;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
	color: #ee3400;
}

img.vote {
	width: 20px;
	height: 18px;
	display: inline-block;
}

img.result_thumbnail {
	
}

a.result_link {
	font-size: 1.5em;
	font-weight: none;
}

span.post_domain {
	color: #666;
}
a.post_author {
        color: #20b;
}
span.post_ups {
        color: #ff4500;
        padding: 1px;
	padding-right: 2px;
}
span.post_downs {
        color: #00f;
        padding: 1px;
}

a.comment_author {
	padding-right: 5px;
	font-weight: bold;
}
span.comment_ups {
        color: #ff4500;
        padding: 1px;
	padding-right: 2px;
	font-weight: bold;
}
span.comment_downs {
        color: #00f;
        padding: 1px;
	font-weight: bold;
} 
a.relevant_url, a.relevant_url:visited {
        color: #33f;
        background-color: #bbb;
        border: none; /*outset 2px #f00;*/
        border-radius: 3px;
        padding: 2px;
        padding-bottom: 0px;
}
a.relevant_url:hover {
        color: #00f;
        background-color: #ddd;
}

td.result_info {
	color: #666;
	padding-top:    3px;
	padding-bottom: 0px;
	border-spacing: 0px;
}

span.result_date {
	color: #666;
	padding-top:    0px;
	padding-bottom: 0px;
}

a.result_comments {
	color: #222;
	text-decoration: underline;
	padding-top:    0px;
	padding-bottom: 0px;
}

td.result_comment_info {
	padding-bottom: 5px;
}

td.result_comment_body {
	padding-bottom: 5px;
	line-height: 150%;
}

a.result_comment_link {
	color: #555;
	font-weight: bold;
	text-decoration: none;
	padding-right: 5px;
}
a.result_comment_link:hover {
	text-decoration: underline;
}

li {
	color: #222;
}
a.external_link {
	font-size: 1.1em;
	color: #000;
	font-weight: bold;
}
a.external_link:hover {
	color: #f00;
}

.db_stats {
	font-weight: bold;
	font-size: 1.3em;
}

.db_status {
	text-align: left;
	font-weight: bold;
}

.status_refresh {
	font-size: 1.3em;
	font-weight: bold;
	background-color: #b00;
	padding:       0px;
	padding-left:  3px;
	padding-right: 3px;
	color: #fff;
	border: none;
	border-radius: 5px;
}

p.footer {
	cursor: default;
	font-size: 0.6em;
	text-align: left;
}
a.footer {
	text-decoration: none;
	font-weight: bold;
	border: solid 1px #222;
	background-color: #f00;
	color: #fff;
	border-radius: 2px;
	padding: 3px;
	padding-bottom: 1px;
	padding-top: 3px;
}
a.footer:hover {
	color: #555;
	text-decoration: underline;
}

table.menu {
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 20px;
}

tr.menu {
	-moz-border-radius-topleft:     10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-top-left-radius:  10px;
	border-top-left-radius:         10px;
	-moz-border-radius-topright:     10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-right-radius:  10px;
	border-top-right-radius:         10px;
}

td.menu {
	background-color: #b00;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
	width: 20%;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	-moz-border-radius-topleft:     10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-top-left-radius:  10px;
	border-top-left-radius:         10px;
	-moz-border-radius-topright:     10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-right-radius:  10px;
	border-top-right-radius:         10px;
}
td.menu:hover {
	background-color: #d00;
}
td.menuActive {
	background-color: #f00;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	width: 20%;
	cursor: default;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	-moz-border-radius-topleft:     10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-top-left-radius:  10px;
	border-top-left-radius:         10px;
	-moz-border-radius-topright:     10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-right-radius:  10px;
	border-top-right-radius:         10px;
}
td.menuActive:hover {
	background-color: #f00;
}

.menu_dropdown {
	background-color: #f00;
	display: none;
	padding: 0px;
	text-align: center;
	-moz-border-radius-bottomleft:     10px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-bottom-left-radius:  10px;
	border-bottom-left-radius:         10px;

	-moz-border-radius-bottomright:     10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-bottom-right-radius:  10px;
	border-bottom-right-radius:         10px;
}

#database_dropdown {
	display: none;
	color: #fff;
}

#subreddit_dropdown {
	display: none;
	max-width: 900px;
}
div.subreddits_header {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
}
div#subreddits {
	text-align: center;
	font-size: 0.8em;
	padding: 10px;
}
a.subreddit {
	color: #eee;
}
a.subreddit:hover {
	color: #fff;
	text-decoration: underline;
}
a.subreddit:visited {
	color: #aaa;
}

#about_dropdown {
	color: #fff;
	display: none;
	max-width: 900px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 0.8em;
}

table.about_content {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: left;
}

td.about_left {
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
	height: 40px;
	padding-right: 10px;
	padding-left: 0px;
}

